
#logo{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo:hover{
    cursor: pointer;
}

#logo-text{
    color: rgb(221, 232, 252);

    font-size:large;
    font-weight:bold;
}

.nav-bar{
    position: sticky;
    top:0;
    z-index:100;
    height:60px;
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #3f434a;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: bold;
}

.nav-item{
    color: rgb(151, 160, 177);
}

.nav-item:hover{
    color: rgb(191, 203, 225);
    cursor: pointer;
}

#mode{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:4px 6px ;
}
#mode:hover{
    background-color: rgb(69, 68, 68);
    border-radius: 5px;
}

#search-box{
    gap:10px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #3f434a;
    border-radius:5px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

#search-input{
    height: 30px;
    background-color:black;
    color: rgb(151, 160, 177);
    border-width:0px;
    outline: none;
    font-size: medium;
}

#search-input:focus{
    height: 30px;
    color: rgb(151, 160, 177);
    background-color:black;
}

#download{
    height: 40px;
    font-size: medium;
    background-color: rgb(0, 137, 243);
    padding: 5px 15px;
    font-weight: bold;
    color:white;
    border-radius: 5px;
}

#download:hover{
    background-color: rgb(2, 115, 201);
    cursor: pointer;
}
